# node module files
youbook/node_modules/
youbook/frontend/node_modules/
youbook/backend/node_modules/
newyoubook/frontend/node_modules/
newyoubook/backend/node_modules/
newyoubook/node_modules/
dalle3/node_modules
chatbot_system/node_modules
.env
