.book-container {
    width: 100%;
    height: 100vh;
    background-color: #FFFBE9;
    display: flex;
    flex-direction: column;
  }
  
  .book-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #00322A; /* 상단바 색상 */
    color: white;
    padding: 15px;
    border-radius: 0px;
    box-sizing: border-box;
    position: fixed; /* 최상단에 고정 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* 다른 요소들 위에 위치 */
  }
  
  .menu-button, .profile-button {
    background: none;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .profile-button {
    padding: 0; /* 버튼 내부 여백 제거 */
  }
  
  .profile-image {
    width: 45px; /* 프로필 이미지 크기 조정 */
    height: 45px;
    border-radius: 50%; /* 원형으로 만들기 */
  }
  
  .book-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px; /* 헤더 높이만큼 패딩 추가 */
  }
  
  .left-page, .right-page {
    width: 50%;
    padding: 20px;
  }
  
  .left-page {
    border-right: 1px solid #E3CAA5;
  }
  
  .bookmark-icon {
    width: 50px; /* bookmark 이미지 크기 조정 */
    height: auto;
    position: relative;
    left: -15px;
    top: 20px;
  }
  
  .book-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FFFBE9;
  }
  
  .nav-button {
    background: none;
    border: none;
    color: #014034;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .page-number {
    font-size: 1.2rem;
    color: #014034;
  }
  
  .action-button {
    background-color: #014034;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  #controls label {
    margin-right: 5px;
  }
  
  #controls input {
    margin-right: 5px;
  }
  