.image-container {
  position: relative;
  width: 230px; /* 전체 컨테이너의 크기를 설정 */
  height: 230px;
  margin: 0 auto; /* 중앙 정렬 */
}

.book-image {
  position: absolute;
  width: 120px; /* 이미지 크기를 조정 */
}

.book-image-1 {
  top: 5px;
  left: 5px;
}

.book-image-2 {
  bottom: 5px;
  right: 5px;
}
