.my-autobiography-page {
  display: flex;
  height: 100vh;
  font-family: 'MinSans-Regular', sans-serif;
}

.sidebar {
  width: 300px;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top : 20px;
  margin-bottom: 40px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  display : flex;
  align-items: center;
}

.profile-name {
  font-size: 3.0rem;
  font-weight: bold;
  margin-top : 10px;
  margin-bottom : 0px;
  white-space: nowrap;
  overflow: hidden;
}


.sidebar-nav ul {
  list-style: none;
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sidebar-nav li {
  margin: 10px 0;
  cursor: pointer;
}

.sidebar-nav .active {
  color: #014034;
  font-weight: bold;
}

.main-content {
  width: 80%;
  padding: 20px;
}

.header {
  position : relative;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  top : -90px;
}

.header h1 {
  font-size: 4.0rem;
  font-weight: bold;
  margin-right : 30px;
  position: absolute; /* 절대 위치 */
  left: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.highlighted-number {
  color: #014034;
  
}

.search-bar {
  display: flex-end;
  position : absolute;
  right : 120px;
  overflow: hidden;
}

.search-bar input {
  padding: 18px 45px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size : 12px;
}

.search-bar button {
  padding: 18px;
  background-color: #014034;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.categories-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position : relative;
}

.categories {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  position : relative;
  top : -60px;
}

.category-button {
  position : relative;
  left : 60px;
  font-size: 1.5rem;
  padding: 15px 40px;
  border: none;
  background: none;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  margin-right: 30px;
  white-space: nowrap;
  overflow: hidden;
}

.category-button.active {
  border-color: #014034;
  font-weight: bold;
}

/*여기서 부터*/
.category-line {
  display : block;
  width: 95%;
  height: 2.5px;
  background-color: #00322A;
  position : absolute;
  top : 0px;
  justify-content: center;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  position : relative;
  top : -40px;
  left : 300px;
}

.selection-left {
  display: flex;
  align-items: flex-start;
}

.selection-left input {
  margin-right: 5px;
}

.selection-right {
  display: flex;
  align-items: flex-end;
}

.selection-right .delete-button, .selection-right .download-button {
  margin-left: 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.selection-right .download-button {
  background-color: #014034;
  color: white;
  border: 1px solid #014034;
}

.autobiography-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%; /* 컨테이너의 전체 너비 사용 */
  margin-left: 120px; 
  box-sizing: border-box; 

}


.autobiography-item {
  width: 200px;
  height: 270px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position : relative;
}

.autobiography-item input[type="checkbox"] {
  margin-bottom: 10px;
  position : relative;
  top : -110px;
  left : -120px;
}

.autobiography-item.add-new .plus-icon {
  font-size: 2rem;
}

.autobiography-item.add-new{
  border: none;
  background-color:#ccc;
}