.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  color: #3D230B;
  border-radius: 10px;
  padding: 40px 40px; /* 패딩 추가 */
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%; /* 이전보다 넓이 설정을 줄임 */
  box-sizing: border-box;
}

.signup-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 50%; /* 원형으로 만들기 */
  object-fit: cover; /* 이미지가 원 안에 잘 맞도록 조정 */
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: #CEAB93;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.input-field {
  width: 400px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #AD8B73;
  color : #AD8B73;
  border-radius: 5px;
  font-family: 'MinSans-Regular', sans-serif;
}

.input-group {
  display: flex;
  width: 420px;
  padding: 0px;
  align-items: center;
  justify-content: space-between; /* 같은 가로선상에 두기 위해 추가 */
}

.input-group .input-field {
  flex: 2.5; /* 필드의 너비를 증가시킵니다 */
}

.input-group .check-button {
  flex: 1;
  margin-top: 10px; /* 중복확인 버튼을 더 위로 올림 */
}

.check-button {
  width: 100%;
  padding: 10px;
  background-color: #914F1E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.check-button:hover {
  background-color: #892B1E; /* 호버 시 더 진한 초록색 */
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #014034;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #449C49; /* 호버 시 더 진한 초록색 */
}

.password-hint {
  font-size: 0.8rem;
  margin-bottom: 10px;
  margin-left: 50px;
  width: 100%;
}

.gender-container {
  display: flex;
  width: 500px;
  margin-bottom: 10px;
  margin-left: 80px;
  gap : 10px;
}

.gender-container label {
  display: flex;
  align-items: center;
  font-family: 'MinSans-Regular', sans-serif;
}

.gender-container input {
  margin-right: 5px;
}

.input-field.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
