body {
  margin: 0;
  font-family: 'MinSans-Regular', sans-serif;
  background-color: white;
  color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0px; /* 공백을 크게 만듦 */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-container h1 {
  font-size: 2rem;
  color: #363636;
  margin-bottom: 20px;
}

/* BookPage 스타일 추가 */
.book-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFBE9;
}

.book-container {
  width: 100%;
  height: 100vh;
  background-color: #FFFBE9;
  display: flex;
  flex-direction: column;
}

.book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #014034;
  padding: 15px;
  color: white;
}

.menu-button, .profile-button {
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

.profile-button {
  margin-top : 10px;
  padding: 0px; /* 버튼 내부 여백 제거 */
  width: 100%; /* 버튼의 너비 설정 */
  height: 100%; /* 버튼의 높이 설정 */
  display: flex;
  align-items: right;
  justify-content: right;
}

.profile-image {
  padding : 5px;
  width : 80px;
  height : 80px;
  border-radius: 50%; /* 원형으로 만들기 */
  object-fit: cover;
}

.book-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-page {
  width: 80%;
  height: 80%;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.left-page, .right-page {
  width: 50%;
  padding: 20px;
}

.left-page {
  border-right: 1px solid #E3CAA5;
}

.bookmark {
  width: 30px;
  height: 100px;
  background-color: #014034;
  position: relative;
  left: -15px;
  top: 20px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.book-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FFFBE9;
}

.nav-button {
  background: none;
  border: none;
  color: #014034;
  font-size: 1.5rem;
  cursor: pointer;
}

.page-number {
  font-size: 1.2rem;
  color: #014034;
}

.action-button {
  background-color: #014034;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
