
body {
  margin: 0;
  font-family: 'MinSans-Regular', sans-serif;
  background-color: white;
  color: #5C401C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding : 0;
  overflow : hidden;
}

.container {
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-container h1 {
  font-size: 2.5rem;
  color: #5C401C;
  margin-bottom: 20px;
}

.main-header {
  display: flex; /* 수평 정렬을 위해 flexbox 사용 */
  justify-content: space-between; /* 아이템 간 공간을 균등하게 분배 */
  align-items: center;
  width: 100%;
  background-color: #AD8B73;
  padding: 0px 15px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-button{
  font-size: 3.0rem;
  color:  #5C401C;
  border: none;
  background-color: transparent;
}

.profile-button {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  margin-right : 30px;
}

.profile-image {
  padding: 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%; /* 원형으로 만들기 */
  object-fit: cover;
  border: none;
}


.sidebar {
  width: 150px !important;
  height: 100vh;
  background-color: #FFFBE9 !important;
  position: fixed;
  top: 0;
  left: -300px;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sidebar.visible {
  left : 0px;
  opacity : 1;
}

.exit{
  position: absolute;
  top: 750px!important;
  left: 80px!important;
  width: 50px!important;
  height: 50px!important;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  
}

.profile-image2 {
  width: 80px!important;
  height: 80px!important;
  border-radius: 50%;
  margin: 20px 0;
  margin-top : 100px!important;
  
}

.profile-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  display: block;
  visibility: visible;
  margin : 20px;
}

.sidebar-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-nav img{
  width : 50px;
  height : 50px;
  margin-bottom : 30px;
}

/* Book icon hover 상태 */
.book-icon:hover {
    content: url('./assets/images/book2.png'); /* Hover 시 이미지 변경 */
}

/* Edit icon hover 상태 */
.edit-icon:hover {
  content: url('./assets/images/edit2.png'); /* Hover 시 이미지 변경 */
}

/* Logout icon hover 상태 */
.logout-icon:hover {
  content: url('./assets/images/log-out2.png'); /* Hover 시 이미지 변경 */
}

.fixed-inquiry-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
}

.fixed-inquiry-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.vertical-rectangle {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 100px;
  height: 180px;
  background-color: #FFFBE9; /* 배경 색상 */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.vertical-rectangle ul {
  list-style: none;
  font-size: 1.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%

}

.vertical-rectangle li {
  margin-top : 20px;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #CEAB93;
}
.vertical-rectangle li:last-child {
  border-bottom: none; /* 마지막 li에는 선을 없앰 */
}
.vertical-rectangle li:hover {
  color: #014034;
  font-weight: bold;
}

.warning-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warning-popup .button-container {
  display: flex;
  justify-content: center; /* 버튼을 수평 중앙 정렬 */
}
.warning-popup p {
  margin-bottom: -10px;
}

.warning-popup button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #914F1E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.warning-popup button:hover {
  background-color: #0056b3;
}
